{{- extends "layout/default" }}
{{- block body() }}
<div class="row justify-content-center mb-5">
<!-- col-md-9 to ensure that artworks don't take forever to scroll past, especially if there are multiple, but col-sm-12 to display artworks at full width on small devices -->
<div class="col-sm-12 col-md-9">
<div class="container">
  <!-- The artwork fragment -->
  {{- include "fragments/artwork" .Illust }}

  <!-- Recent works by artist -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <a class="text-decoration-none text-light d-flex align-items-center" href="/users/{{ .Illust.User.ID }}">
          <img src="{{ .Illust.User.Avatar }}" alt="{{ .Illust.User.Name }}" class="rounded-circle me-2" style="width: 48px; height: 48px;">
          <h2 class="h5 my-2">Other works by {{ .Illust.User.Name }}</h2>
          <span class="ms-2">&raquo;</span>
        </a>
        {{- combinedUrl := "/artworks-multi/" + joinArtworkIds(.Illust.RecentWorks) }}
        <a href="{{combinedUrl}}" class="btn btn-outline-primary btn-sm">View all</a>
      </div>
      <div class="overflow-auto" id="horizontal-scroll">
        <div class="d-flex flex-nowrap">
          {{- range .Illust.RecentWorks }}
          <!-- TODO: style="min-width: 200px;" is a dirty hack to get it working -->
          <div class="me-3 w-100" style="min-width: 200px;">
            {{- include "fragments/thumbnail-dt" . }}
          </div>
          {{- end }}
        </div>
      </div>
    </div>
  </div>

  <!-- mb-5 for spacing between the end of the comments section card and related works -->
  <div class="card mb-5">
    <div class="card-header">
      <h2 class="h5 my-2">Comments</h2>
    </div>
    <div class="card-body p-4 pb-0">
      {{- if .Illust.CommentDisabled == 1 }}
      <p>The creator turned comments off</p>
      {{- else if .Illust.Comments == 0 }}
      <p>There are no comments yet</p>
      {{- else }}
      <div class="list-group">
        {{ range .Illust.CommentsList }}
        <!-- Element for a single comment -->
        <div class="list-group-item border-0 p-0 mb-4">
          <div class="row">

            <!-- Comment author avatar image -->
            <div class="col-auto">
              <a href="/users/{{ .AuthorID }}">
                <img class="rounded-circle img-fluid" src="{{ .Avatar }}" alt="{{ .AuthorName }}" style="width: 40px; height: 40px;" />
              </a>
            </div>
            <div class="col">

              <!-- Comment author name and date -->
              <div class="d-md-flex align-items-center mb-2">
                <div class="me-md-2">
                  <a href="/users/{{ .AuthorID }}" class="text-body text-decoration-none">
                    <h6 class="fw-bold mb-0">{{- .AuthorName }}</h6>
                  </a>
                </div>
                <div>
                  <small class="text-muted">{{ .Date }}</small>
                </div>
              </div>

              <!-- Stamp or emoji -->
              <!-- TODO: .Stamp occasionally templates in text (which should be part of the main comment text) instead of an image, causing breakage in the layout. See the comment by "Unknown417" on /artworks/107442519 for an example -->
              {{- if .Stamp }}
              <img class="img-fluid rounded me-2" src="/proxy/s.pximg.net/common/images/stamp/generated-stamps/{{ .Stamp }}_s.jpg"
                alt="/proxy/s.pximg.net/common/images/stamp/generated-stamps/{{ .Stamp }}_s.jpg" style="width: 96px; height: 96px;" />
              {{- else }}
              <!-- Comment with emojis -->
              <p class="m-0">
                  {{ raw: parseEmojis(.Context) }}
              </p>
              {{ end }}
            </div>
          </div>
        </div>
        {{- end }}
      </div>
      {{ end }}
    </div>
  </div>

</div>
</div>

<div class="row justify-content-center">
<!-- col-12 to display Related works at full width -->
<div class="col-12">
<div class="container">
  <!-- h2 class="h4 fw-bold mb-0" used to replicate Pixiv headings -->
  <h2 class="h4 fw-bold mb-0">Related works</h2>
  <!-- Gradually increase the number of artworks shown per row along with device width -->
  <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 mt-1">
    {{- include "fragments/small-tn" .Illust.RelatedWorks }}
  </div>
</div>
</div>
</div>
{{- end }}
