{{- extends "layout/default" }}
{{- block body() }}
<div class="container">
  <!-- The Artwork fragment; left outside a card -->
  {{- include "fragments/artwork" .Illust }}
  <!-- Recent works by artist -->
  <div class="card mt-4">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <a class="text-decoration-none text-light d-flex align-items-center" href="/users/{{ .Illust.User.ID }}">
          <img src="{{ .Illust.User.Avatar }}" alt="{{ .Illust.User.Name }}" class="rounded-circle me-2" style="width: 40px; height: 40px;">
          <span>Other works by {{ .Illust.User.Name }}</span>
          <span class="ms-2">&raquo;</span>
        </a>
        {{- combinedUrl := "/artworks-multi/" + joinArtworkIds(.Illust.RecentWorks) }}
        <a href="{{combinedUrl}}" class="btn btn-outline-primary btn-sm">View all</a>
      </div>
      <div class="overflow-auto" id="horizontal-scroll">
        <div class="d-flex flex-nowrap">
          {{- range .Illust.RecentWorks }}
          <!-- TODO: style="min-width: 200px;" is a dirty hack to get it working -->
          <div class="me-3 w-100" style="min-width: 200px;">
            {{- include "fragments/thumbnail-dt" . }}
          </div>
          {{- end }}
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-4" id="commentsAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingComments">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComments" aria-expanded="false" aria-controls="collapseComments">
          Comments
        </button>
      </h2>
      <div id="collapseComments" class="accordion-collapse collapse" aria-labelledby="headingComments" data-bs-parent="#commentsAccordion">
        <div class="accordion-body">
          {{- if .Illust.CommentDisabled == 1 }}
          <p>The creator turned comments off</p>
          {{- else if .Illust.Comments == 0 }}
          <p>There are no comments yet</p>
          {{- else }}
          <div class="list-group">
            {{ range .Illust.CommentsList }}
            <div class="list-group-item">
              <div class="d-flex">
                <a href="/users/{{ .AuthorID }}" class="me-3">
                  <img class="rounded-circle" src="{{ .Avatar }}" alt="{{ .AuthorName }}" style="width: 40px; height: 40px;" />
                </a>
                <div>
                  <a href="/users/{{ .AuthorID }}" class="text-decoration-none">
                    <h6 class="mb-1">{{- .AuthorName }}</h6>
                  </a>
                  {{- if .Stamp }}
                  <img class="img-fluid" src="/proxy/s.pximg.net/common/images/stamp/generated-stamps/{{ .Stamp }}_s.jpg"
                    alt="/proxy/s.pximg.net/common/images/stamp/generated-stamps/{{ .Stamp }}_s.jpg" style="max-width: 96px; max-height: 96px;" />
                  {{- else }}
                  <p>{{ raw: parseEmojis(.Context) }}</p>
                  {{ end }}
                  <small class="text-muted">{{ .Date }}</small>
                </div>
              </div>
            </div>
            {{- end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- mt-5 for spacing between the Related works heading and the main card -->
<!-- mb-5 for spacing at the bottom of the page -->
<div class="container mt-5 mb-5">
  <h4 class="fw-bold mb-0">Related works</h4>
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-4 mt-1">
    {{- include "fragments/small-tn" .Illust.RelatedWorks }}
  </div>
</div>
{{- end }}
