{{- extends "layout/default" }}
{{- block body() }}
<div class="container">
  <h1 class="display-4 mt-4">Discover artworks</h1>

  <div class="card mt-4">
    <div class="card-header">Type</div>
    <div class="card-body">
      <div class="btn-group" role="group" aria-label="Artwork type">
        <a href="/discovery" class="btn btn-outline-primary">Artworks</a>
        <a href="/discovery/novel" class="btn btn-outline-primary">Novels</a>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">Filter</div>
    <div class="card-body">
      <div class="btn-group" role="group" aria-label="Filter options">
        <a href='{{replaceQuery(.Queries, "mode", "all")}}' class="btn btn-outline-primary">All</a>
        <a href='{{replaceQuery(.Queries, "mode", "safe")}}' class="btn btn-outline-primary">Safe</a>
        <a href='{{replaceQuery(.Queries, "mode", "r18")}}' class="btn btn-outline-primary">R-18</a>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    {{- include "fragments/small-tn" .Artworks }}
  </div>

  <div class="d-flex justify-content-center mt-4">
    <a href="" class="btn btn-primary">Reload</a>
  </div>
</div>
{{- end }}
