{{- extends "layout/default" }}
{{- import "blocks/underlinenav" }}
{{- block body() }}
<div class="row justify-content-center g-4">
  {{- if !.LoggedIn }}
  <div class="col-9">
    <div class="alert alert-info" role="alert">
      <p class="text-center mb-0"><i class="bi bi-person-circle me-2"></i>You are not logged in. You can log in on the <a href="/settings" class="alert-link">settings page</a>.
      </p>
    </div>
  </div>

  <div class="col-12">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
      <h2 class="mb-3 mb-md-0">Today's illustration rankings</h2>
      <a href="/ranking" class="custom-btn-secondary">See more</a>
    </div>

    <!-- mt-0 to remove the margin that g-4 adds to the top of the element -->
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 mt-0">
      {{- include "fragments/ranking-tn" .NoTokenData.Contents }}
    </div>
  </div>

  <div class="col-12">
    <h2>Articles from pixivision</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {{- include "fragments/pixivisionArticles" .Data.Pixivision }}
    </div>
  </div>
  {{- else }}

  <div class="col-12">
    <h2>Articles from pixivision</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {{- include "fragments/pixivisionArticles" .Data.Pixivision }}
    </div>
  </div>

  <div class="col-12">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-end mx-auto">
      {{- Mode := isset(Queries.mode) ? Queries.mode : "all" }}
      {{- url := replaceQuery(.Queries, "mode", "") }}
      {{- path := slice("all", "r18") }}
      {{- name := slice("All", "R-18")}}
      {{- yield UnderlineNav(baseURL=url, paths=path, names=name, activeState=Mode)}}
    </div>
  </div>

  <div class="col-12">
    <div class="d-flex flex-row justify-content-between align-items-center mb-3">
      <h2 class="mb-0">Latest works by followed</h2>
      <a href="/self/followingWorks" class="custom-btn-secondary">See more</a>
    </div>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4">
      {{- if len(.Data.Following) > 0 }}
        {{- include "fragments/small-tn" .Data.Following }}
      {{- else }}
      <div class="alert alert-light w-25 mx-auto" role="alert">
        <p class="text-center mb-0">Nothing here yet&#8212;find a user to follow!</p>
      </div>
      {{- end }}
    </div>
  </div>

  <div class="col-12">
    <h2>Recommended works</h2>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4">
      {{- include "fragments/small-tn" .Data.Recommended }}
    </div>
  </div>

  {{- range .Data.RecommendByTags }}
  <div class="col-12">
    <h2>Recommended illustrations tagged <a href="/tags/{{ .Name }}" class="text-decoration-none">#{{ .Name }}</a></h2>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4">
      {{- include "fragments/small-tn" .Artworks }}
    </div>
  </div>
  {{- end }}

{{- end }}
</div>
{{- end }}
