{{- extends "layout/default" }}
{{- import "blocks/underlinenav" }}
{{- block body() }}
<div class="row justify-content-center g-4">
  <h1 class="text-center">Discover novels</h1>

  <div class="col-12">

    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between mx-auto mb-4">
      {{- Type := "/discovery/novel" }}
      {{- path := slice("/discovery", "/discovery/novel") }}
      {{- name := slice("Artworks", "Novels")}}
      {{- yield UnderlineNav(baseURL="", paths=path, names=name, activeState=Type)}}

      <!-- TODO: is it actually set to "safe" by default? -->
      {{- Mode := isset(Queries.mode) ? Queries.mode : "safe" }}
      {{- url := replaceQuery(.Queries, "mode", "") }}
      {{- path := slice("all", "safe", "r18") }}
      {{- name := slice("All", "Safe", "R-18")}}
      {{- yield UnderlineNav(baseURL=url, paths=path, names=name, activeState=Mode)}}
    </div>

    <!-- Main content -->
    <div class="row row-cols-1 row-cols-lg-2 g-4">
      {{- range .Novels }}
        {{- include "fragments/novel-tn" . }}
      {{- end }}
    </div>

  </div>

  <div class="d-flex justify-content-center">
    <a href="" class="custom-btn-secondary-flex bg-charcoal-surface2">Reload</a>
  </div>

</div>
{{- end }}
