{{- extends "layout/default" }}
{{- import "blocks/switcher" }}
{{- import "blocks/pagination" }}
{{- block body() }}
<div class="row justify-content-center">
  <h1 class="h3 fw-bold text-center mb-4">{{ .Title }}</h1>

  <div class="col-12 col-lg-6">
    <div class="card border-0 rounded-5 bg-body-tertiary p-4 mb-4">
      <h2 class="h4 fw-bold mb-3">Content</h2>
      <p class="text-muted">Select the type of content you want to see in the rankings.</p>
      {{- Mode := isset(Queries.mode) ? Queries.mode : "daily" }}
      {{- Content := isset(Queries.content) ? Queries.content : "all" }} {{- url := "" }}
      {{- if Mode == "original" || Mode == "male" || Mode == "female" || Mode == ""}}
        {{ url = "/ranking?date=" + .Data.CurrentDate + "&page=1&content=" }}
        {{- else }}
        {{- url = "/ranking?mode=" + Mode + "&date=" + .Data.CurrentDate + "&page=1&content=" }}
      {{- end }}
      <!-- TODO: align the names of the "Overall" and "Manga" buttons vertically -->
      <div class="d-flex flex-wrap mb-2">
        {{- path := slice("all") }}
        {{- name := slice("Overall")}}
        {{- yield Switcher(baseURL=url, paths=path, names=name, activeState=Content)}}
      </div>
      <div class="d-flex flex-wrap">
        {{- path := slice("illust", "manga", "ugoira") }}
        {{- name := slice("Illustrations", "Manga", "Ugoira")}}
        {{- yield Switcher(baseURL=url, paths=path, names=name, activeState=Content)}}
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="card border-0 rounded-5 bg-body-tertiary p-4 mb-4">
      <h2 class="h4 fw-bold mb-3">Modes</h2>
      <p class="text-muted">Choose the time frame or category for the rankings.</p>
      {{ url := "/ranking?content=" + Content +"&date=" + .Data.CurrentDate + "&page=1&mode=" }}
      <div class="d-flex flex-wrap mb-3">
        {{- path := slice("daily", "weekly") }}
        {{- name := slice("Daily", "Weekly")}} {{- yield Switcher(baseURL=url, paths=path, names=name, activeState=Mode)}} {{- if Content != "ugoira" }}
          {{- path := slice("monthly", "rookie") }}
          {{- name := slice("Monthly", "Rookie")}}
          {{- yield Switcher(baseURL=url, paths=path, names=name, activeState=Mode)}}
        {{- end }}
      </div>

      <div class="d-flex flex-wrap mb-3">
        {{- path := slice("daily_r18", "weekly_r18") }}
        {{- name := slice("Daily (R-18)", "Weekly (R-18)")}}
        {{- yield Switcher(baseURL=url, paths=path, names=name, activeState=Mode)}}
      </div>

      {{- if Content == "all" }}
      <div class="d-flex flex-wrap">
        {{- path := slice("original", "male", "female") }}
        {{- name := slice("Original", "Popular among males", "Popular among females")}}
        {{- yield Switcher(baseURL=url, paths=path, names=name, activeState=Mode)}}</div>
      {{- end }}
    </div>

    <div class="card border-0 rounded-5 bg-body-tertiary p-4 mb-4">
      <h2 class="h4 fw-bold mb-3">Date (current: {{ .Data.CurrentDate }})</h2>
      <p class="text-muted">Navigate through different dates or view the latest rankings.</p>
      {{ url := "/ranking?content=" + Content + "&mode=" + Mode + "&page=1" }}
      <div class="d-flex flex-wrap">
        <a href="{{ url }}" class="btn btn-outline-secondary text-body fw-bold border-2 rounded-pill me-2 mb-2">Latest</a>
        <a href="/rankingCalendar" class="btn btn-outline-secondary text-body fw-bold border-2 rounded-pill me-2 mb-2">Ranking calendar</a>
      </div>
      <div class="d-flex flex-wrap">
        {{- if .Data.PrevDate != "false" }}
        <a href="{{ url }}&date={{.Data.PrevDate}}" class="btn btn-outline-secondary text-body flex-fill fw-bold border-2 rounded-pill me-2 mb-2">Previous day</a>
        {{- end }}
        {{ if .Data.NextDate != "false" }}
        <a href="{{ url }}&date={{.Data.NextDate}}" class="btn btn-outline-secondary text-body flex-fill fw-bold border-2 rounded-pill me-2 mb-2">Next day</a>
        {{- end }}
      </div>
    </div>

  </div>

  <div class="col-12">
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 mb-4">{{- include "fragments/ranking-tn" .Data.Contents }}</div>
  </div>

  <!-- Pagination -->
  {{- url := "/ranking?content=" + Content +"&date=" + .Data.CurrentDate + "&mode=" + Mode + "&page=" }}
  {{- paginationData := createPaginator(url, "#checkpoint", .Page, -1, 1, 5) }}
  {{- yield pagination(data=paginationData) }}
</div>
{{- end }}
