{{ template "header.html" }}
{{ $parent := . }}
<div class="container">
  <div class="artwork-page">
    {{ with .Illust }}
    <div class="artwork-content">
      <div class="artwork-images">
        {{ range .Images }}
        <a href="{{ proxyImage .Original }}" target="_blank">
          <img src="{{ proxyImage .Large }}" alt="{{ proxyImage .Original }}" class="artwork-image-page" />
        </a>
        {{ end }}
      </div>
      <h2>{{ .Title }}</h3>
        <p>{{ .Description }}</p>

        <div class="artwork-tags">

          {{ range .Tags }}
          {{ if isEmphasize .Name }}
          <span class="artwork-tag-name emphasize">{{ .Name }}</span>
          {{ else }}
          <span class="artwork-tag-name">#{{ .Name }}</span><span class="artwork-tag-altname">{{ .TranslatedName
            }}</span>
          {{ end }}
          {{ end }}
        </div>
        <br />
        <span>{{ .Views }} views | {{ .Bookmarks }} bookmarks</span>
        <br />
        <small>{{ .Date }}</small>

        <a href="/users/{{ $parent.Artist.ID }}" class="artwork-artist flex"><img
            src="{{ proxyImage $parent.Artist.Avatar }}" alt="{{ $parent.Artist.Name }}"
            class="artwork-artist-avatar border-rounded" />
          {{ $parent.Artist.Name }}</a>
        <div class="thumbnail-container">
          {{ range $parent.Artist.Artworks }}
          <div class="artwork-thumbnail-small artwork-thumbnail">
            {{ template "thumbnail-dt.html" . }}
          </div>
          {{ end }}
        </div>
        <hr />
        <h2>Comments</h2>
        To be added :)
    </div>
    {{ end }}
  </div>
  <h2>Related works</h2>
  <div>
    {{ template "small-tn.html" .Related }}
  </div>
</div>
{{ template "footer.html" }}
