<div class="container">
  <div class="artwork-page">
    <div class="artwork-content">
      <div class="artwork-images">
        {{ range index := Illust.Images }}
        <a href="{{ proxyImage(.Original) }}" target="_blank">
          <img
            src="{{ proxyImage(.Large) }}"
            alt="Page {{ index }}"
            class="artwork-image-page"
          />
        </a>
        {{ end }}
      </div>
      <h2>{{ Illust.Title }}</h2>
      <p>{{ Illust.Description }}</p>

      <div class="artwork-tags">
        {{ if Illust.AiType == 2 }}
        <span class="artwork-tag-name emphasize">AI-generated</span>
        {{ end }} {{ range Illust.Tags }} {{ if isEmphasize(.Name) }}
        <span class="artwork-tag-name emphasize">{{ .Name }}</span>
        {{ else }}
        <a href="/tags/{{ .Name }}" class="artwork-tag-name">#{{ .Name }}</a
        ><span class="artwork-tag-altname">{{ .TranslatedName }}</span>
        {{ end }} {{ end }}
      </div>
      <br />
      <span>{{ Illust.Views }} views | {{ Illust.Bookmarks }} bookmarks</span>
      <br />
      <small>{{ Illust.Date }}</small>

      <a href="/users/{{ Artist.ID }}" class="artwork-artist flex"
        ><img
          src="{{ proxyImage(Artist.Avatar) }}"
          alt="{{ Artist.Name }}"
          class="artwork-artist-avatar border-rounded"
        />
        {{ Artist.Name }}</a
      >
      <div class="thumbnail-container">
        {{ range Artist.Artworks }}
        <div class="artwork-thumbnail-small artwork-thumbnail">
          {{ include "thumbnail-dt" . }}
        </div>
        {{ end }}
      </div>
      <hr />
      <h2>Comments</h2>
      {{ range Comments }}
      <div class="comment">
        <img
          class="comment-avatar"
          src="{{ proxyImage(.Avatar) }}"
          alt="{{ .AuthorName }}"
        />
        <div class="comment-context">
          <b>{{ .AuthorName }}</b>
          <p>
            {{ if .Stamp }}
            <img
              class="stamp"
              src="https://s.pximg.net/common/images/stamp/generated-stamps/{{ .Stamp }}_s.jpg"
              alt="https://s.pximg.net/common/images/stamp/generated-stamps/{{ .Stamp }}_s.jpg"
            />
            {{ else }} {{ raw: parseEmojis(.Context) }} {{ end }}
          </p>

          <small>{{ .Date }}</small>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <h2>Related works</h2>
  <div>{{ include "small-tn" Related }}</div>
</div>
