{{ template "header.html" .Title }} {{ $parent := . }}
<div class="container">
  <div class="artwork-page">
    {{ with .Illust }}
    <div class="artwork-content">
      <div class="artwork-images">
        {{ range .Images }}
        <a href="{{ proxyImage .Original }}" target="_blank">
          <img
            src="{{ proxyImage .Large }}"
            alt="{{ proxyImage .Original }}"
            class="artwork-image-page"
          />
        </a>
        {{ end }}
      </div>
      <h2>{{ .Title }}</h2>
      <p>{{ .Description }}</p>

      <div class="artwork-tags">
        {{ if eq .AiType 2 }}
        <span class="artwork-tag-name emphasize">AI-generated</span>
        {{ end }} {{ range .Tags }} {{ if isEmphasize .Name }}
        <span class="artwork-tag-name emphasize">{{ .Name }}</span>
        {{ else }}
        <a href="/tags/{{ .Name }}" class="artwork-tag-name">#{{ .Name }}</a
        ><span class="artwork-tag-altname">{{ .TranslatedName }}</span>
        {{ end }} {{ end }}
      </div>
      <br />
      <span>{{ .Views }} views | {{ .Bookmarks }} bookmarks</span>
      <br />
      <small>{{ .Date }}</small>

      <a href="/users/{{ $parent.Artist.ID }}" class="artwork-artist flex"
        ><img
          src="{{ proxyImage $parent.Artist.Avatar }}"
          alt="{{ $parent.Artist.Name }}"
          class="artwork-artist-avatar border-rounded"
        />
        {{ $parent.Artist.Name }}</a
      >
      <div class="thumbnail-container">
        {{ range $parent.Artist.Artworks }}
        <div class="artwork-thumbnail-small artwork-thumbnail">
          {{ template "thumbnail-dt.html" . }}
        </div>
        {{ end }}
      </div>
      <hr />
      <h2>Comments</h2>
      {{ range $parent.Comments }}
      <div class="comment">
        <img
          class="comment-avatar"
          src="{{ proxyImage .Avatar }}"
          alt="{{ .AuthorName }}"
        />
        <div class="comment-context">
          <b>{{ .AuthorName }}</b>
          <p>
            {{ if .Stamp }}
            <img
              class="stamp"
              src="https://s.pximg.net/common/images/stamp/generated-stamps/{{ .Stamp }}_s.jpg"
              alt="https://s.pximg.net/common/images/stamp/generated-stamps/{{ .Stamp }}_s.jpg"
            />
            {{ else }} {{ parseEmojis .Context }} {{ end }}
          </p>

          <small>{{ .Date }}</small>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
  <h2>Related works</h2>
  <div>{{ template "small-tn.html" .Related }}</div>
</div>

{{ template "footer.html" }}
