<div class="container">
    <h2>Newest works from people you follow</h2>
    <div class="switcher">
        <span class="switch-title">Filter</span>
        <a href="/following_works?mode=all&page=1" class="switch-button">All</a>
        <a href="/following_works?mode=safe&page=1" class="switch-button">Safe</a>
        <a href="/following_works?mode=r18&page=1" class="switch-button">R-18</a>
    </div>
    <div>{{ include "small-tn" Artworks }}</div>
    <div class="pagination">
        {{ url := "/following_works/" + "&mode=" + Queries.Mode + "&page=" }} {{ if Page == 1 }}
        <a href="#" class="pagination-button disabled">First</a>
        <a href="#" class="pagination-button disabled">Previous</a>
        {{ else }}
        <a href="{{url}}1" class="pagination-button">First</a>
        <a href="{{url}}{{ Page - 1 }}" class="pagination-button">Previous</a>
        {{ end }}

        <a href="#" class="pagination-button disabled">{{ Page }}</a>

        <a href="{{url}}{{ Page + 1 }}" class="pagination-button">Next</a>
    </div>
</div>
