<!DOCTYPE html>
<html lang="en">

<head>
  <title>PixivFE</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/template.css" rel="stylesheet" />
</head>

<body>
  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a href="/" class="navbar-brand"><b>PixivFE</b></a>
      </li>
      <li class="navbar-item">
        <input type="text" name="name" id="name" placeholder="asd" />
      </li>
      <li class="navbar-item">
        <button>asd</button>
      </li>
    </ul>
  </nav>
</body>

</html>
