{{ template "header.html" }}
<div class="container">
  <h1>Recommended works</h1>

  <div class="thumbnail-container">
    {{ template "small-tn.html" .Recommended }}
  </div>

  <h1>Today's rankings</h1>
  <div class="thumbnail-container">
    {{ template "large-tn.html" .Rankings }}
  </div>

  <h1>Pixivision</h1>
  <div class="thumbnail-container">
    {{ range .Spotlights }}
    <a href="{{ .URL }}" class="spotlight-thumbnail">
      <img
        src="{{ .Thumbnail }}"
        alt="{{ .Title }}"
        class="spotlight-master-image"
      />
      <div class="spotlight-title-wrapper">
        <h2 class="spotlight-title">{{ .Title }}</h2>
      </div>
    </a>
    {{ end }}
  </div>

  <h1>Newest by all</h1>
  <div>{{ template "small-tn.html" .Newest }}</div>
</div>
{{ template "footer.html" }}
