{{ range $i, $_ := . }}
<div class="artwork-thumbnail-large artwork-thumbnail">
  <div class="artwork-rank-circle">{{ $i | inc}}</div>
  <a href="/artworks/{{ .ID }}">
    <img
      data-src="{{ (index .Images 0).Small }}"
      alt="{{ .Title }}"
      class="artwork-master-image lazy"
    />
  </a>

  <a class="artwork-thumbnail-title" href="/artworks/{{ .ID }}">
    <h3 class="no-margin">{{ .Title }}</h3>
  </a>
  <a href="/users/{{ .ArtistID }}" class="artwork-thumbnail-artist flex"
    ><img
      data-src="{{ .Artist.Avatar }}"
      alt="{{ .ArtistName }}"
      class="artwork-thumbnail-artist-avatar border-rounded lazy"
    />
    {{ .ArtistName }}</a
  >
</div>
{{ end }}
