{{ template "header.html" }}

<div class="container">
  <h2>{{ .Title }}</h2>

  {{ range $i, $_ := .Items }}
  <div class="artwork-thumbnail-small artwork-thumbnail">
    <div class="artwork-rank-circle">{{ $i | inc}}</div>
    {{ if gt .Pages 1 }}
    <div class="artwork-page-count"><span>&boxbox; {{ .Pages }}</span></div>
    {{ end }}
    <a href="/artworks/{{ .ID }}">
      <img
        data-src="{{ .Image }}"
        alt="{{ .Title }}"
        class="artwork-master-image lazy"
      />
    </a>

    <a class="artwork-thumbnail-title" href="/artworks/{{ .ID }}">
      <h3 class="no-margin">{{ .Title }}</h3>
    </a>
    <a href="/users/{{ .ArtistID }}" class="artwork-thumbnail-artist flex"
      ><img
        data-src="{{ .ArtistAvatar }}"
        alt="{{ .ArtistName }}"
        class="artwork-thumbnail-artist-avatar border-rounded lazy"
      />
      {{ .ArtistName }}</a
    >
  </div>
  {{ end }}
</div>

{{ template "footer.html" }}
