{{ range . }}
<div class="artwork-thumbnail-small artwork-thumbnail">
  <a href="/artworks/{{ .ID }}">
    <img data-src="{{ (index .Images 0).Small }}" alt="{{ .Title }}" class="artwork-master-image lazy" />
  </a>

  <a class="artwork-thumbnail-title" href="/artworks/{{ .ID }}">
    <h3 class="no-margin">{{ .Title }}</h3>
  </a>
  <a href="#" class="artwork-thumbnail-artist flex"><img data-src="{{ .Artist.Avatar.medium }}" alt="{{ .Artist.Name }}"
      class="artwork-thumbnail-artist-avatar border-rounded lazy" />
    {{ .Artist.Name }}</a>
</div>
{{ end }}
