{{ template "header.html" }}

<div class="container">
  <div class="tag-header">
    {{ with .Tag }}
    <img class="tag-thumbnail" src="{{ .Metadata.image }}" alt="{{ .Name }}" />

    <div class="tag-details">
      <b class="main-tag">#{{ .Name }}</b>
      <span class="translated-tag">{{ .Metadata.tag }}</span>
      <br />
      <br />
      <span><b>69420</b> works</span>

      <p class="tag-description">{{ .Metadata.abstract }}</p>
    </div>
    {{ end }}
  </div>
  <!-- Switchers here -->
</div>
{{ template "footer.html" }}
