{{ template "header.html" }}

<div class="container">
  <div class="tag-header">
    <img
      class="tag-thumbnail"
      src="{{ .Tag.Metadata.image }}"
      alt="{{ .Tag.Name }}"
    />

    <div class="tag-details">
      <b class="main-tag">#{{ .Tag.Name }}</b>
      <span class="translated-tag">{{ .Tag.Metadata.tag }}</span>
      <br />
      <br />
      <span><b>{{ .Data.Artworks.Total }}</b> works</span>

      <p class="tag-description">{{ .Tag.Metadata.abstract }}</p>
    </div>
  </div>
  {{ if .Data.Popular.Recent }}
  <h2>Popular artworks</h2>
  <div class="thumbnail-container">
    {{ template "small-tn-normal.html" .Data.Popular.Recent }} {{ template
    "small-tn-normal.html" .Data.Popular.Permanent }}
  </div>
  {{ end }}
  <!-- Switchers here -->
</div>
{{ template "footer.html" }}
