{{ template "header.html" }}

<div class="container">
  <div class="tag-header">
    <a href="/artworks/{{ .Tag.Metadata.id }}">
      <img
        class="tag-thumbnail"
        src="{{ .Tag.Metadata.image }}"
        alt="{{ .Tag.Name }}"
      />
    </a>

    <div class="tag-details">
      <b class="main-tag">#{{ .Tag.Name }}</b>
      <span class="translated-tag">{{ .Tag.Metadata.tag }}</span>
      <br />
      <br />
      <span><b>{{ .Data.Artworks.Total }}</b> works</span>

      <p class="tag-description">{{ .Tag.Metadata.abstract }}</p>
    </div>
  </div>

  <div class="thumbnail-container">
    {{ range .Data.RelatedTags }}
    <a class="tag-container" href="/tags/{{ . }}">#{{ . }}</a>
    {{ end }}
  </div>

  <div class="switcher">
    <span class="switch-title">Type</span>
    <a href="/tags/{{ .Tag.Name }}/artworks" class="switch-button">All</a>
    <a href="/tags/{{ .Tag.Name }}/illustrations" class="switch-button"
      >Illustrations</a
    >
    <a href="/tags/{{ .Tag.Name }}/manga" class="switch-button">Manga</a>
  </div>
  {{ if .Data.Popular.Recent }}
  <h2>Popular artworks</h2>
  <div class="thumbnail-container">
    {{ template "small-tn-normal.html" .Data.Popular.Recent }} {{ template
    "small-tn-normal.html" .Data.Popular.Permanent }}
  </div>
  {{ end }}
  <!-- Switchers here -->
  <br />
  <h2>{{ .Title }}</h2>
  <div>{{ template "small-tn.html" .Data.Artworks.Artworks }}</div>
</div>
{{ template "footer.html" }}
