<div class="container" style="
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
  ">
    <h2>Welcome to PixivFE!</h2>
    <p>
        This site is still under heavy development, so some pages will not be
        available at the moment.
    </p>
    <p>Try out the pages in the sidebar at the top left and the search bar!</p>
    <small>Fun fact: you are currently using VnPower's main Pixiv account right now,
        if you are using the official instance :D</small>
</div>
