{{ template "header.html" }} {{ if isEmpty .User.BackgroundImage }}
<div class="user-background-placeholder"></div>
{{ else }}
<div class="user-background">
  <img src="{{ .User.BackgroundImage }}" alt="{{ .User.Name }}" />
</div>
{{ end }}
<div class="container">
  <div class="user-page">
    <div class="user-details">
      <img src="{{ .User.Avatar }}" alt="avatar" class="user-avatar" />
      <h2 class="user-name">{{ .User.Name }}</h2>
      <p class="user-id">
        {{ .User.Following }} Following | {{ .User.MyPixiv }} MyPixiv
      </p>
    </div>
  </div>
  <div>
    <h1>Illustrations and Mangas</h1>
    {{ template "small-tn.html" .Recent }}
  </div>
</div>
{{ template "footer.html" }}
