# Git-related files
# Required for commit hash
# ref: https://codeberg.org/VnPower/PixivFE/pulls/104
# .git/
# .gitignore

# Docker-related files
.dockerignore
Dockerfile
compose.yaml

# Environment and configuration files
.env.example
Pipfile
staticcheck.conf
semgrep.yml
mkdocs.yml

# Documentation files
LICENSE
README.md
doc/
