# dotenv
.env
# sass cache
.sass-cache/
# css sourcemaps
*.css.map
# executable got from `go build .`
/pixivfe
# custom dev script
dev.sh
# not sure what this is for (VnPower: https://github.com/air-verse/air)
/tmp
# exclude changes to pixivfe_token.txt
docker/pixivfe_token.txt
# Pipfile generated when using pipenv
Pipfile
i18n/*_strings.json
