<!DOCTYPE html>
<html>
    {{ url := stripEmbed(BaseURL) }}
<head>
    <meta charset="UTF-8">
    <title>{{ Title }}</title>
    <meta property="og:site_name" content="PixivFE" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ Title }}" />
    <meta property="og:description" content="{{ MetaDescription }}" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{{ MetaImage }}" />
    <meta name="twitter:card" content="summary_large_image" />
</head>
<body>
    <a href="{{ url }}">You should have been redirected, here is a link to the original post.</a>
    <script type="text/javascript">
        window.location.replace("{{ url }}")
    </script>
</body>
</html>
