{{ range . }}
<div class="artwork-small artwork">
  <div class="artwork-additional">
    <div class="artwork-position">{{ .Rank }}</div>
    {{ if toInt(.Pages) > 1 }}
    <div class="artwork-page-count"><span>&boxbox; {{ .Pages }}</span></div>
    {{ end }}
    {{ if toInt(.IllustType) == 2 }}
    <div class="artwork-page-count"><span>&#9654;</span></div>
    {{ end }}
  </div>

  <a href="/artworks/{{ .ID }}#checkpoint">
    <img src="{{ .Image }}" alt="{{ .Title }}" />
  </a>
  <div class="artwork-title">
    <a href="/artworks/{{ .ID }}#checkpoint"> {{ .Title }} </a>
  </div>
  <div class="artwork-author">
    <a href="/users/{{ .ArtistID }}"
      ><img src="{{ .ArtistAvatar }}" alt="{{ .ArtistName }}" />
      <span>{{ .ArtistName }}</span></a
    >
  </div>
</div>
{{ end }}
