<div class="container">
  <h2>Discover works</h2>
  <div class="switcher">
    {{ url := "/discovery?mode=" }}
    <div class="switch-title">Filter</div>
    <a href="{{url}}all" class="switch-button">All</a>
    <a href="{{url}}safe" class="switch-button">Safe</a>
    <a href="{{url}}r18" class="switch-button">R-18</a>
  </div>
  <div class="artwork-container">
    {{ include "components/small-tn" Artworks }}
  </div>
  <div class="pagination">
    <a href="" class="pagination-button">Reload</a>
  </div>
</div>
