<div class="container">
    <h2>Ranking calendar ({{ Month }} {{ Year }})</h2>
    <div class="switcher">
        {{ url := "/ranking_log?mode=" }}
        <span class="switch-title">Modes</span>
        <a href="{{ url }}daily" class="switch-button">Daily</a>
        <a href="{{ url }}weekly" class="switch-button">Weekly</a>
        <a href="{{ url }}monthly" class="switch-button">Monthly</a>
        <a href="{{ url }}rookie" class="switch-button">Rookie</a>
        <span class="switch-seperator"></span>
        <a href="{{ url }}daily_r18" class="switch-button">Daily (R-18)</a>
        <a href="{{ url }}weekly_r18" class="switch-button">Weekly (R-18)</a>
    </div>
    <br>
    <div id="calendar">
        <div class="calendar-weeks">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
        <div class="calendar-board">
            {{ raw: Render }}
        </div>
    </div>
    <div class="pagination">
        {{ url := "/ranking_log?mode=" + Mode + "&date=" }}
        <a href="{{ url }}{{ MonthBefore }}" class="pagination-button ">Last month</a>
        <a href="{{ url }}{{ MonthAfter }}" class="pagination-button ">Next month</a>
    </div>
</div>
