{{- block NovelNav(baseURL, paths, names, activeState="") }}
  <div class="row nav nav-underline justify-content-center">
      {{- range i, k := paths }}
      <div class="col-12 col-lg-3">
          <a class="nav-link fs-6 text-center
              {{ activeState == k ? "active border-bottom border-4 border-custom-color fw-bold" : "text-body-secondary fw-semibold" }}"
              {{ activeState == k ? `aria-current="page"` : "" }}
              href="{{ baseURL }}{{k}}">
              {{ names[i] }}
          </a>
      </div>
      {{- end }}
  </div>
{{- end }}
