* {
  box-sizing: border-box;
}

body {
  top: 0;
  margin: 0;
  font-family: "Noto Sans CJK JP", "Open Sans", "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #d8d4cf;
  background-color: #131516;
}

.container {
  max-width: 1200px;
  min-height: 85vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar {
  margin-left: 2rem;
  margin-right: 2rem;
}
.navbar .navbar-brand {
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  color: #d8d4cf;
  text-decoration: none;
}
.navbar .navbar-brand img {
  margin-right: 9px;
  width: 30px;
  height: 30px;
}
.navbar .navbar-list {
  display: flex;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
}
.navbar .search-bar {
  width: 500px;
}
.navbar .search-bar .search-form-text {
  width: 100%;
  background-color: #262a2b;
  padding: 7px 10px;
  margin: 0;
  border: none;
  color: #d8d4cf;
}
.navbar .search-bar .search-form-text::placeholder {
  color: #d8d4cf;
}
.navbar .navbar-button {
  display: inline-block;
  margin-left: 5px;
}

.sidebar-toggler {
  display: none;
}
.sidebar-toggler:checked ~ .sidebar {
  transform: translateX(0);
}

.sidebar-label {
  margin-right: 9px;
  cursor: pointer;
}

.sidebar {
  background-color: #131516;
  position: absolute;
  margin-top: 16px;
  left: 0;
  width: 200px;
  transform: translateX(-200px);
  transition: transform 250ms ease-in-out;
}
.sidebar .sidebar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-list .sidebar-item {
  display: flex;
  align-items: center;
  list-style: none;
  color: #d8d4cf;
  text-decoration: none;
  padding: 10px;
  width: 100%;
}
.sidebar .sidebar-list .sidebar-item:hover {
  background-color: #262a2b;
}
.sidebar .sidebar-list .sidebar-item img {
  width: 30px;
  height: 30px;
  margin-left: 1rem;
  margin-right: 10px;
}

.artwork-thumbnail {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.artwork-thumbnail img {
  object-fit: cover;
}
.artwork-thumbnail .artwork-rank-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.3rem;
  left: 0.3rem;
  border-radius: 50%;
  padding: 1rem;
  background-color: #262a2b;
}
.artwork-thumbnail .artwork-page-count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  border-radius: 20px;
  padding: 0.3rem;
  background-color: rgba(38, 42, 43, 0.6);
}
.artwork-thumbnail .artwork-page-count span {
  display: flex;
  font-size: 0.7rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 0.5rem;
}
.artwork-thumbnail .artwork-profanity-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  border-radius: 20px;
  padding: 0.3rem;
  background-color: #ff4060;
}
.artwork-thumbnail .artwork-profanity-label span {
  display: flex;
  font-size: 0.7rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 0.5rem;
}
.artwork-thumbnail .artwork-thumbnail-title {
  margin: 0.4rem;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.artwork-thumbnail .artwork-master-image {
  width: 100%;
  height: 100%;
  object-position: center center;
}
.artwork-thumbnail .artwork-thumbnail-artist {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
.artwork-thumbnail .artwork-thumbnail-artist-avatar {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  object-position: center top;
}

.artwork-thumbnail-small {
  width: 184px;
  height: 184px;
}

.artwork-thumbnail-large {
  width: 288px;
  height: 288px;
}

.spotlight-thumbnail {
  width: 400px;
  height: 250px;
  display: inline-block;
  position: relative;
  text-align: left;
  color: white;
}
.spotlight-thumbnail .spotlight-master-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  filter: brightness(75%);
}
.spotlight-thumbnail .spotlight-title-wrapper {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
}
.spotlight-thumbnail .spotlight-title-wrapper .spotlight-title {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 28px;
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  text-overflow: ellipsis;
}

.artwork-page {
  background: #262a2b;
}
.artwork-page .artwork-content {
  margin: 0 20px;
  font-size: 0.9rem;
}
.artwork-page .artwork-content a {
  color: #3d7699;
  text-decoration: none;
}
.artwork-page .artwork-content a:hover {
  text-decoration: underline;
}
.artwork-page .artwork-artist {
  display: flex;
  align-items: center;
}
.artwork-page .artwork-artist .artwork-artist-avatar {
  margin-right: 8px;
  width: 50px;
  height: 50px;
  object-position: center top;
}
.artwork-page .artwork-tags {
  display: inline-block;
}
.artwork-page .artwork-tags .artwork-tag-name {
  margin-right: 5px;
  color: #3d7699;
  font-weight: bold;
}
.artwork-page .artwork-tags .artwork-tag-altname {
  margin-right: 8px;
}
.artwork-page .artwork-tags .emphasize {
  color: #ff4060;
}
.artwork-page .artwork-images {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.artwork-page .artwork-images .artwork-image-page {
  margin: 10px auto;
  max-height: 1000px;
  width: auto;
  max-width: 100%;
}
.artwork-page .comment {
  display: flex;
  margin-bottom: 10px;
}
.artwork-page .comment p {
  margin: 0;
}
.artwork-page .comment .comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.artwork-page .comment .stamp {
  width: 96px;
  height: 96px;
  border-radius: 4px;
}
.artwork-page .comment .emoji {
  width: 24px;
  height: 24px;
  margin-left: 3px;
  margin-right: 3px;
}

.user-background {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 40vw;
}
.user-background img {
  width: 100%;
}

.user-background-placeholder {
  display: flex;
  height: 10vw;
  min-height: 100px;
  background-color: #262a2b;
}

.user-page {
  transform: translateY(-4rem);
}
.user-page .user-details {
  text-align: center;
}
.user-page .user-details .user-name,
.user-page .user-details .user-id {
  margin: 2px;
}
.user-page .user-details .user-avatar {
  width: 144px;
  height: 144px;
  border-radius: 50%;
}
.user-page .user-details .user-comment {
  font-size: 0.9em;
}
.user-page .user-details .user-comment a {
  color: #3d7699;
  text-decoration: none;
}

.tag-header {
  display: flex;
}
.tag-header .tag-thumbnail {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  margin-right: 20px;
  object-fit: cover;
  object-position: center center;
}
.tag-header .tag-details .main-tag {
  font-size: 1.2rem;
}

.tag-container {
  background-color: #262a2b;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #d8d4cf;
  font-weight: bold;
}

.switcher {
  border-radius: 10px;
}
.switcher .switch-title {
  margin-right: 5px;
}
.switcher .switch-button {
  display: inline-block;
  padding: 8px 5px;
  margin-top: 5px;
  background-color: #262a2b;
  color: #d8d4cf;
  text-decoration: none;
  text-decoration-color: #d8d4cf;
}
.switcher .switch-button:hover {
  background-color: rgba(38, 42, 43, 0.6);
  text-decoration: underline;
}
.switcher .switch-seperator {
  display: inline-block;
  margin-left: 10px;
}

.pagination {
  width: 100%;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.pagination .pagination-button {
  display: inline-block;
  padding: 5px;
  color: #d8d4cf;
}
.pagination .disabled {
  pointer-events: none;
  background-color: #333;
}

.footer {
  text-align: center;
  font-size: small;
  margin-top: 8px;
  margin-bottom: 8px;
}
.footer a {
  color: #d8d4cf;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .search-bar {
    display: none;
  }
}
@media screen and (min-width: 400px) and (max-width: 800px) {
  /* 400px <= device width <= 800px */
  .artwork-mobile {
    width: 45vw;
  }
}
@media screen and (max-width: 400px) {
  .artwork-mobile {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
