$bg: #131516;
$bg-secondary: #222;
$fg: #fff;
$fg-secondary: #aaa;
$link: #118bee;
$highlight: #fc365b;
$border-radius: 5px;
$line-height: 1.5;
$active-brightness: 0.85;
$hover-brightness: 1.2;
$box-shadow: 2px 2px 10px;
$color-shadow: #bbbbbb20;
$font-family: "Roboto", "Open Sans", "Noto Sans", sans-serif, "Noto Sans CJK JP";
$small-artwork-width: 184px;
$large-artwork-width: 288px;
$small-breakpoint: 440px;

html {
  font-size: 62.5%;
}

body {
  top: 0;
  margin: 0;

  background-color: $bg;
  color: $fg;

  font-size: 1.8rem;
  font-family: $font-family;

  margin-bottom: 10px;
}

main {
  @media (min-width: $small-breakpoint) {
    margin-inline: 5px;
  }
}

a {
  color: $link;
  text-decoration: none;
}

/* Scrollbars */
* {
    scrollbar-width: thin;
    // invalid line
    // scrollbar-color: $link auto;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: $link;
    border-radius: 10px;
}

.special-symbol {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.8rem;
}

[hidden] {
  display: none;
}

input,
label,
select,
textarea {
  display: block;
  font-size: inherit;
  max-width: 600px;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  font-weight: normal;
  position: relative;
  top: 1px;
}

input[type="range"] {
  padding: 0.4rem 0;
}

input,
select,
textarea {
  border: 1px solid $bg-secondary;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}

input[type="text"],
textarea {
  width: calc(100% - 1.6rem);
  background-color: $bg-secondary;
  color: $fg-secondary;
}

input[readonly],
textarea[readonly] {
  background-color: $bg-secondary;
}

.form-field {
  border: 1px solid $bg-secondary;
  border-radius: $border-radius;
  box-shadow: $box-shadow $color-shadow;
  display: block;
  max-width: 800px;
  min-width: 460px;
  padding: 1.5rem;

  header {
    margin: 1.5rem 0;
    padding: 1.5rem 0;
  }

  label {
    font-weight: bold;
    margin-bottom: 0.2rem;
  }  
}

a b,
a em,
a i,
a strong,
button,
input[type="submit"],
.switch-button,
.pagination-button {
  border-radius: $border-radius;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  line-height: $line-height;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
}

button,
input[type="submit"],
.switch-button,
.pagination-button {
  font-family: $font-family;
}

button:active,
input[type="submit"]:active,
.switch-button:active,
.pagination-button:active {
  filter: brightness($active-brightness);
}

button:hover,
input[type="submit"]:hover,
.switch-button:hover,
.pagination-button:hover {
  cursor: pointer;
  filter: brightness($hover-brightness);
}

a b,
a strong,
button,
input[type="submit"],
.switch-button,
.pagination-button {
  background-color: $link;
  border: 2px solid $link;
  color: $fg;
}

input[type="submit"][hidden] {
  display: none;
}

.switch-seperator {
  display: inline-block;
  margin-left: 10px;
}

.pagination {
  text-align: center;

  form {
    display: inline-block;
  }

  .pagination-buttons {
    text-align: center;

    input {
	  width: 5em;
    }
  }

  .pagination-button {
    margin-right: 5px;
  }

  #highlight {
    filter: brightness($hover-brightness);
  }

  .disabled {
    pointer-events: none;
    background-color: $bg-secondary;
    filter: brightness(1);
  }
}

// https://stackoverflow.com/questions/63787241/css-how-to-create-an-infinitely-moving-repeating-linear-gradient/63787567#63787567
#loading-indicator {
  z-index: 2;
  isolation: isolate;
  position: sticky;
  top: 0;
  height: 4px;
  margin-bottom: -4px;

  // background-size: 200px auto;
  animation: rolling-something 1s linear infinite;  
  background-image: repeating-linear-gradient(-0.25turn, $link 0vw, transparent 40vw); 
  background-size: 80vw auto;

  will-change: opacity;
  transition: opacity 0.3s;
  opacity: 0;
  &.htmx-request {
    opacity: 1;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  }
}

@keyframes rolling-something {
  0% {
    background-position-x: 0vw
  }
  100% {
    background-position-x: 40vw
  }
}

nav {
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;

  .navigation-wrapper {
    padding-block: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;

    .navbar-brand {
      display: inline-flex;
      gap: 10px;

      span {
        font-weight: bold;
        font-size: 1.3em;
        color: $fg;
      }
    }

    .navbar-entry {
      img {
        width: 30px;
        height: 30px;
      }
    }

    form {
      display: flex;
      gap: 4px;
    }
    // .navbar-entry.navbar-search-button {
    //   display: unset;
    // }

    .search-form {
      input {
        margin: 0;
      }
    }

    .sidebar-toggler {
      display: none;

      &:checked ~ .sidebar {
        transform: translateX(0);
      }
    }

    .sidebar-label {
      margin-right: 9px;
      cursor: pointer;
    }

    .sidebar {
      z-index: 1;
      isolation: isolate;
      background-color: $bg;
      position: absolute;
      padding-top: 6px;
      left: 0;
      width: 220px;
      transform: translateX(-220px);
      transition: transform 250ms cubic-bezier(0.23, 1, 0.32, 1);

      br {
        align-self: stretch;
        margin-top: 10px;
      }

      .sidebar-list {
        list-style-type: none;

        margin: 0;
        padding: 0;

        .sidebar-item {
          display: flex;
          align-items: center;
          list-style: none;
          color: $fg;
          font-size: 0.9em;
          text-decoration: none;
          padding: 10px;

          &:hover {
            background-color: $bg-secondary;
          }

          img {
            width: 30px;
            height: 30px;
            margin-left: 1.2rem;
            margin-right: 10px;
          }
        }
      }
    }
  }

  // .navbar-shadow {
  //   width: 100%;
  //   height: 10px;
  //   background: repeating-linear-gradient(
  //     52.5deg,
  //     rgba(32, 32, 32, 0.7),
  //     rgba(32, 32, 32, 0.7) 14px,
  //     rgba(240, 248, 255, 0) 14px,
  //     rgba(240, 248, 255, 0) 28px
  //   );
  // }
}

// mobile nav bar
@media screen and (max-height: 768px) {
nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $bg;
  .navigation-wrapper {
    padding-block: 5px; // Reduced from 15px
    .sidebar {
      br {
        margin-top: 0; // Reduced from 10px
      }
    }
  }
}
}

.component-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    display: inline-block;
  }
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 4px;
  @media (min-width: $small-breakpoint) {
    padding-inline: 10px;
  }
  scroll-margin-top: 71px; // Prevent images from being covered; equal to the navigation bar height
}
.error.container {
  text-align: center;
}

.artwork-container-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.artwork-container {
  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(calc($small-artwork-width + 15px), 1fr)
  );
  align-items: center;
  justify-items: center;
}

.artwork-container-scroll {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.artwork-container,
.artwork-container-scroll {
  a {
    text-decoration: none;
    color: $fg;
  }

  .artwork-large {
    img {
      width: $large-artwork-width;
      height: $large-artwork-width;
    }

    .artwork-title {
      max-width: $large-artwork-width;
    }

    .artwork-author {
      max-width: $large-artwork-width;
      a {
        max-width: $small-artwork-width;
      }
    }
  }

  .artwork-small {
    img {
      width: $small-artwork-width;
      height: $small-artwork-width;
    }

    .artwork-title {
      max-width: $small-artwork-width;
    }

    .artwork-author {
      max-width: $small-artwork-width;

      a {
        max-width: $small-artwork-width;
      }
    }
  }

  .artwork {
    padding: 5px;
    width: fit-content;
    position: relative;

    .artwork-additional {
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      box-sizing: border-box;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 4px 4px 0px;
      pointer-events: none;

      .artwork-position {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-weight: bold;
        width: 40px;
        height: 40px;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.32);
      }
      .artwork-profanity-label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        border-radius: 20px;
        padding: 0.4rem;
        background-color: $highlight;
        color: $fg;
      }

      .artwork-page-count {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        box-sizing: border-box;
        height: 20px;
        min-width: 20px;
        color: $fg;
        font-weight: bold;
        padding: 0px 6px;
        background: rgba(0, 0, 0, 0.32);
        border-radius: 10px;
        font-size: 10px;
        line-height: 10px;

        .boxbox {
          font-size: 9px;
        }
      }
    }

    img {
      object-fit: cover;
      object-position: center center;
      border-radius: $border-radius;
    }

    .artwork-title {
      display: flex;
      align-items: center;

      a {
        font-size: 14px;
        display: inline;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 22px;
        font-weight: bold;
      }
    }

    .artwork-author {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;

        img {
          aspect-ratio: 1/1;
          width: 24px;
          height: 24px;
          object-fit: cover;
          object-position: center top;
          border-radius: 50%;
          margin-right: 5px;
        }

        span {
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 22px;
        }
      }
    }
  }
}

/* Brought out here because both artworks and novels needed this */
.illust-tags {
  font-size: 0.9em;

  .illust-tag-attr {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;

    img {
      aspect-ratio: 1/1;
      width: 18px;
      height: 18px;
      margin-right: 5px;
    }
  }

  .illust-tag {
    margin-right: 10px;

    #highlight {
      color: $highlight;
    }

    .illust-tag-name {
      color: $link;
      font-weight: bold;
      margin-right: 5px;
    }
  }
}

.illust {
  background-color: $bg-secondary;
  border-radius: $border-radius;
  padding: 5px 15px;

  .illust-images {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    img {
      margin-top: 15px;
      max-height: 1000px;
      width: auto;
      max-width: 100%;
    }
  }

  .illust-attr {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    .illust-avatar {
      width: 62px;
      height: 62px;
      border-radius: 50px;
    }

    .attr-wrap {
      margin-left: 5px;

      .illust-title {
        font-weight: bold;
      }
      .illust-author {
        font-size: 0.8em;
        a {
          color: $fg-secondary;
        }
      }
    }
  }

  .illust-description {
    font-size: 0.85em;
  }


  .comment {
    display: flex;
    margin-bottom: 10px;

    p {
      margin: 0;
      font-size: 0.8em;
    }

    .comment-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .stamp {
      width: 96px;
      height: 96px;
      border-radius: 4px;
    }

    .emoji {
      width: 24px;
      height: 24px;
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  .illust-other-works {
    a.illust-other-works-author {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: $fg;

      & > img {
        aspect-ratio: 1/1;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
}

.novel {
  background-color: $bg-secondary;
  border-radius: $border-radius;
  padding: 5px 15px;
  padding-top: 1em;

  .novel-detail {
    display: flex;

    .novel-metadata {
      margin-left: 1.5rem;

      .novel-title {
        font-size: 1.17em;
        font-weight: bold;
      }

      .novel-description {
        font-size: 0.85em;
      }
    }
  }


  .novel-cover img {
    /* warning: hard-coded values */
    width: 136px;
    height: 191px;
    object-fit: cover;
    object-position: center center;
  }

  .novel-content {
    margin: 1.2rem 0;
    line-height: 1.2;
  }
}

.background-cover {
  background: repeating-linear-gradient(
    52.5deg,
    rgba(32, 32, 32, 0.8),
    rgba(32, 32, 32, 0.8) 14px,
    rgba(240, 248, 255, 0) 14px,
    rgba(240, 248, 255, 0) 28px
  );
  height: 10vw;
  min-height: 100px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#hasbg {
  height: 40vw;
  min-height: 100px;
  max-height: 60vh;
}

.user {
  transform: translateY(-8rem);

  .user-avatar {
    text-align: center;
  }
  .user-avatar img {
    aspect-ratio: 1/1;
    width: 170px;
    height: 170px;
    border-radius: 50%;
  }

  .user-social {
    text-align: center;

    img {
      aspect-ratio: 1/1;
      width: 36px;
      height: 36px;
    }
  }

  .user-details {
    text-align: center;

    h2 {
      margin: 0;
    }
  }
}

.user-tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 1em;
  margin-block: 4px 20px;
  &>a {
    line-height: 1;
    &:hover {
      text-decoration: underline;
    }
  }
}

#calendar {
  width: 100%;
  height: auto;
}

.calendar-weeks,
.calendar-board {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.calendar-weeks div {
  width: 128px;
  text-align: center;
}

.calendar-node {
  width: 128px;
  height: 128px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-color: $bg-secondary;
  position: relative;

  span {
    font-size: small;
    color: $fg;
    background-color: $bg-secondary;
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    padding: 0.05rem 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 950px) {
  .calendar-board {
    justify-content: center;
  }

  .calendar-weeks,
  .calendar-node-empty {
    display: none;
  }
}

.tag-header {
  display: flex;

  .tag-thumbnail {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    margin-right: 20px;

    object-fit: cover;
    object-position: center center;
  }

  .tag-details {
    .main-tag {
      font-size: 1.6rem;
    }
  }
}

.tag-container {
  background-color: $bg-secondary;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;

  width: max-content;
  height: 40px;
  margin-bottom: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 4px;

  .main {
    font-size: 1.6em;
  }
  .sub {
    font-size: 1.2em;
    font-weight: normal;
  }
}
