<div class="container illust" id="checkpoint">
  {{ include "components/artwork" Illust }}
  <div class="illust-other-works">
    <div class="artwork-container-header">
      <a class="illust-other-works-author" href="/users/{{ Illust.User.ID }}"
        ><img src="{{ Illust.User.Avatar }}" alt="{{ Illust.User.Name }}" /> Other works by {{ Illust.User.Name }}
        <span class="special-symbol">&raquo;</span>
      </a>
      {{ combinedUrl := "/artworks-multi/" + joinArtworkIds(Illust.RecentWorks) }}
      <div class="artwork-actions"><a href="{{combinedUrl}}">View all</a></div>
    </div>
    <div class="artwork-container-scroll">
      {{ range Illust.RecentWorks }}
      <div class="artwork-small artwork">
        {{ include "components/thumbnail-dt" . }}
      </div>
      {{ end }}
    </div>
  </div>
  <hr />
  <h2>Comments</h2>
  {{ if Illust.CommentDisabled == 1 }}
  <p>The creator turned comments off</p>
  {{ else if Illust.Comments == 0 }}
  <p>There are no comments yet</p>
  {{ else }} {{ range Illust.CommentsList }}
  <div class="comment">
    <img class="comment-avatar" src="{{ .Avatar }}" alt="{{ .AuthorName }}" />
    <div class="comment-context">
      <b>{{ .AuthorName }}</b>
      <p>
        {{ if .Stamp }}
        <img
          class="stamp"
          src="/proxy/s.pximg.net/common/images/stamp/generated-stamps/{{ .Stamp }}_s.jpg"
          alt="/proxy/s.pximg.net/common/images/stamp/generated-stamps/{{ .Stamp }}_s.jpg"
        />
        {{ else }} {{ raw: parseEmojis(.Context) }} {{ end }}
      </p>

      <small>{{ .Date }}</small>
    </div>
  </div>
  {{ end }} {{ end }}
</div>
<div class="container">
  <h2>Related works</h2>
  <div class="artwork-container">
    {{ include "components/small-tn" Illust.RelatedWorks }}
  </div>
</div>
