<div class="container">
  <h1>Discover artworks</h1>
  <div class="switcher">
    <div class="switch-title">Type</div>
    <a href="/discovery" class="switch-button">Artworks</a>
    <a href="/discovery/novel" class="switch-button">Novels</a>
  </div>
  <div class="switcher">
    <div class="switch-title">Filter</div>
    {{ URL := URLC(Queries, "mode") }}
    <a href='{{URL}}all' class="switch-button">All</a>
    <a href='{{URL}}safe' class="switch-button">Safe</a>
    <a href='{{URL}}r18' class="switch-button">R-18</a>
  </div>
  <div class="artwork-container">
    {{ include "components/small-tn" Artworks }}
  </div>
  <div class="pagination">
    <a href="" class="pagination-button">Reload</a>
  </div>
</div>
