<div class="container" data-hx-boost="false">
  <h2>Login</h2>
  <p>Supported features (for now):</p>
  <ul>
    <li>Discovery page</li>
    <li>Landing page</li>
  </ul>
  <p>
    You can only login using your account's cookie, check out
    <a
      href="https://codeberg.org/VnPower/pixivfe/wiki/How-to-get-the-cookie-(PIXIVFE_TOKEN)"
      >this page</a
    >
    to see how to get it.
  </p>
  <p>
    Note that you will get logged out automatically every time the server
    updates, if you are logged in before but got logged out recently, it is
    probably because the instance owner restarted the server.
  </p>
  <form action="/settings/token" method="post">
    <input type="text" name="token" autocomplete="off" />
    <input type="submit" value="Remember Account Cookie Until Next Server Restart" />
  </form>
  <hr />
  <h2>Logout</h2>
  <p>
    You can safely logout here. This button will just delete the token directly
    from this session.
  </p>
  <form action="/settings/logout" method="post">
    <input type="submit" value="Logout!" />
  </form>
<hr />

    <h2>Image proxy server</h2>
    <div class="form-field">
        <form action="/settings/image_server" method="post">
            <input type="radio" name="image-proxy" id="image-proxy" value="https://pximg.exozy.me" />
            <label for="image-proxy">https://pximg.exozy.me</label>
            <br />
            <input type="radio" name="image-proxy" id="image-proxy" value="https://pixiv.ducks.party" />
            <label for="image-proxy">https://pixiv.ducks.party</label>
            <br />
            <input type="radio" name="image-proxy" id="image-proxy" value="https://sex.nyan.xyz" />
            <label for="image-proxy">https://***.nyan.xyz</label>
            <br />
            <input type="radio" name="image-proxy" id="image-proxy" value="https://pixiv.tatakai.top" />
            <label for="image-proxy">https://pixiv.tatakai.top</label>
            <br />
            <input type="radio" name="image-proxy" id="image-proxy" value="https://i.loli.best" />
            <label for="image-proxy">https://i.****.best</label>
            <br />
            <input type="radio" name="image-proxy" id="image-proxy" value="https://img.chaotic.ninja" />
            <label for="image-proxy">https://img.chaotic.ninja</label>
            <br />
            <input type="radio" name="image-proxy" id="image-proxy" value="https://pixiv.cat" />
            <label for="image-proxy">https://pixiv.cat</label>
            <br />
            <input type="submit" value="Use Selected Proxy" />
        </form>
        <br />
        <form action="/settings/image_server" method="post">
            <label for="image-proxy">Custom image proxy server</label>
            <input type="text" name="image-proxy" id="image-proxy" placeholder="https://example.com"
                autocomplete="off" />
            <input type="submit" value="Use Custom Proxy" />
        </form>
    </div>
</div>
