<div class="container">
  <div class="tag-header">
    {{ if Tag.Metadata.ID }}
    <a href="/artworks/{{ Tag.Metadata.ID }}">
      <img class="tag-thumbnail" src="{{ Tag.Metadata.Image }}" alt="{{ Tag.Name }}" />
    </a>
    {{ end }}

    <div class="tag-details">
      <b class="main-tag">#{{ Tag.Name }}</b>
      <span class="translated-tag">{{ Tag.Metadata.Name }}</span>
      <br />
      <br />
      <span><b>{{ Data.Artworks.Total }}</b> works</span>

      <p class="tag-description">{{ Tag.Metadata.Detail }}</p>
    </div>
  </div>

  <div class="artwork-container-scroll">
    {{ range Data.RelatedTags }}
    <a href="/tags/{{ . }}">
      <div class="tag-container">
        <div class="main">#{{ . }}</div>
      </div>
    </a>
    {{ end }}
  </div>

  <div class="switcher">
    <div class="switch-title">Type</div>
    <a href='{{URLC("category", "artworks")}}' class="switch-button">All</a>
	<a href='{{URLC("category", "illustrations")}}' class="switch-button">Illustrations</a>
	<a href='{{URLC("category", "manga")}}' class="switch-button">Manga</a>
  </div>
  <div class="switcher">
    <div class="switch-title">Order</div>
    <a href='{{URLC("order", "date_d")}}' class="switch-button">Newest</a>
    <a href='{{URLC("order", "date")}}' class="switch-button">Oldest</a>
  </div>
  <div class="switcher">
    <div class="switch-title">Filter</div>
    <a href='{{URLC("mode", "all")}}' class="switch-button">All</a>
    <a href='{{URLC("mode", "safe")}}' class="switch-button">Safe</a>
    <a href='{{URLC("mode", "r18")}}' class="switch-button">R-18</a>
  </div>
  <div class="switcher">
    <div class="switch-title">Ratio</div>
    <a href='{{URLC("ratio", "")}}' class="switch-button">All</a>
    <a href='{{URLC("ratio", "-0.5")}}' class="switch-button">Portrait</a>
    <a href='{{URLC("ratio", "0")}}' class="switch-button">Square</a>
    <a href='{{URLC("ratio", "0.5")}}' class="switch-button">Landscape</a>
  </div>
  {{ if Data.Popular.Recent }}
  <h2>Popular artworks</h2>
  <h3>Recent</h3>
  <div class="artwork-container-scroll">
    {{ include "components/small-tn" Data.Popular.Recent }}
  </div>
  <h3>All Time</h3>
  <div class="artwork-container-scroll">
    {{ include "components/small-tn" Data.Popular.Permanent }}
  </div>
  {{ end }}
  {* Switchers here *}
  <br />
  <h2>Works</h2>
  <div class="artwork-container">
    {{ include "components/small-tn" Data.Artworks.Artworks }}
  </div>

  <div class="pagination">
    {{ url := URLC("page", "") }}
    <small>Page {{ Page }}</small>
    <br />
    {{ raw: createPaginator(url, "#checkpoint", Page, -1) }}
  </div>
</div>
