<!-- Container for the artworks -->
<div class="container mb-4">
  {{- if !.IsUgoira }}
  <!-- The actual artwork itself, if not a ugoira -->
  <!-- NOTE: tried using a carousel, but doesn't really work that well -->
    {{- range index := .Images }}
        <!-- This anchor element provides the link to the full size artwork  -->
        <a href="{{ .Original }}" target="_blank" id="{{ index + 1 }}" class="d-block text-center">
        <!-- Bootstrap + Jet wizardry to dynamically scale artwork -->
        {{- if .Width != 0 && .Height != 0 }}
        <!-- Display artwork at full width (col-12) if it is in landscape orientation -->
            {{- if .Width > .Height }}
            <div class="row justify-content-center mb-4">
                <div class="col-12 p-0">
                    <img src="{{ .Large }}" alt="Page {{ index + 1 }}" class="img-fluid rounded mw-100" data-width="{{.Width}}" data-height="{{.Height}}" />
                </div>
            </div>
            <!-- Otherwise, display artwork at reduced width (col-8) if viewing on a device ≥768px in width (on small screens, the artwork is still displayed at full width) -->
            {{- else }}
            <div class="row justify-content-center mb-4">
                <div class="col-sm-12 col-md-8 p-0">
                <img src="{{ .Large }}" alt="Page {{ index + 1 }}" class="img-fluid rounded mw-100" data-width="{{.Width}}" data-height="{{.Height}}" />
                </div>
            </div>
            {{- end }}
        {{- else }}
            <img src="{{ .Large }}" alt="Page {{ index + 1 }}" class="img-fluid rounded mw-100" />
        {{- end }}
        </a>
    {{- end }}
  {{- else }}
  <!-- The actual artwork itself, if a ugoira -->
  <!-- TODO: also use dynamic resizing logic for ugoira; currently needs backend changes due to not having .Width and .Height to compare -->
    <div class="row justify-content-center">
      <div class="col-12 p-0">
        <video class="w-100 rounded" autoplay loop muted disablepictureinpicture playsinline controls poster="{{ .Images[0].Large }}"
          src="/proxy/ugoira.com/{{ .ID }}">
          Unable to load ugoira.
        </video>
      </div>
    </div>
  {{- end }}
</div>

  <!-- Artwork title and user information -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row mb-3">
        <!-- Artist avatar, artwork name, and artist name -->
        <div class="col-12 col-sm-8 mb-3 mb-sm-0">
          <div class="d-flex align-items-center">
            <a href="/users/{{ .User.ID }}" class="me-3">
              <img src="{{ .User.Avatar }}" alt="{{ .User.Name }}" class="rounded-circle" style="width: 64px; height: 64px;"/>
            </a>
            <div>
              <h2 class="h4 fw-bold mb-0">{{ .Title }}</h2>
              <h3 class="h5 mb-0"><a href="/users/{{ .User.ID }}" class="text-muted text-decoration-none">{{ .User.Name }}</a></h3>
            </div>
          </div>
        </div>
        <!-- Bookmark and like buttons -->
        <!-- TODO: there's probably a way to align these buttons along the top of the card *without breakage* -->
        <div class="col-12 col-sm-4 d-flex justify-content-start justify-content-sm-end align-items-center">
          {{- if isset(.BookmarkData) && LoggedIn }}
          <a href="/self/deleteBookmark/{{ .BookmarkID }}" class="btn btn-outline-danger me-2">
            <i class="bi bi-heart-fill"></i>
          </a>
          {{- else }}
          <a href="/self/addBookmark/{{ .ID }}" class="btn btn-outline-primary me-2">
            <i class="bi bi-heart"></i>
          </a>
          {{- end }}

          {{- if .Liked && LoggedIn}}
          <button class="btn btn-outline-primary" disabled>
            <i class="bi bi-hand-thumbs-up-fill"></i>
          </button>
          {{- else }}
          <a href="/self/like/{{ .ID }}" class="btn btn-outline-primary">
            <i class="bi bi-hand-thumbs-up"></i>
          </a>
          {{- end }}
        </div>
      </div>

      <!-- View Pixiv original button -->
      <a href="https://pixiv.net/i/{{ .ID }}" class="btn btn-secondary btn-sm mb-3"><i class="bi bi-box-arrow-up-right me-2"></i>View original on Pixiv.net</a>

      <!-- Artwork description -->
      <!-- Rendered conditionally to avoid a weird empty p element that messes with spacing -->
      {{- if .Description }}
      <p class="card-text mb-3">{{- raw: parsePixivRedirect(.Description) }}</p>
      {{- end }}

      <!-- Tag information -->
      <!-- text-start ensures that the content within non-emphasized tags is left-aligned while still maintaining proper wrapping behavior -->
      <div class="d-flex flex-wrap mb-2">
        {{- if .AiType == 2 }}
        <span class="badge bg-warning text-dark me-2 mb-2">AI-generated</span>
        {{- end }}
        {{- range .Tags }}
          {{- if isEmphasize(.Name) }}
          <span class="badge bg-primary me-2 mb-2">{{ .Name }}</span>
          {{- else }}
          <span class="badge fw-normal text-muted me-2 mb-2 p-0 text-wrap text-break text-start">
            <a href="/tags/{{ escapeString(.Name) }}" class="text-decoration-none text-wrap text-break">#{{ .Name }}</a>
            {{- if .TranslatedName }} <small>({{ .TranslatedName }})</small>{{- end }}
          </span>
          {{- end }}
        {{- end }}
      </div>

      <!-- Other artwork information (views, bookmarks, likes, creation date) -->
      <div class="d-flex flex-wrap text-muted small me-2">
        <div class="me-4 mb-2">
            <i class="bi bi-eye me-1"></i>
            <span>{{- .Views }}</span>
        </div>
        <div class="me-4 mb-2">
            <i class="bi bi-heart-fill me-1"></i>
            <span>{{- .Bookmarks }}</span>
        </div>
        <div class="me-4 mb-2">
            <i class="bi bi-hand-thumbs-up me-1"></i>
            <span>{{- .Likes }}</span>
        </div>
        <div class="mb-2">
            <i class="bi bi-calendar me-1"></i>
            <span>{{- parseTime: .Date }}</span>
        </div>
      </div>
    </div>
  </div>
