<div class="col">
  <div class="custom-novel-card bg-charcoal-surface1 p-3 d-flex flex-column">
    <div class="row g-3 flex-grow-1">
      <div class="col-4 col-md-2">
        <a href="/novel/{{ .ID }}" class="text-decoration-none">
          <div class="ratio ratio-3x4">
            <img src="{{ .CoverURL }}" alt="{{ .Title }}" class="img-fluid rounded object-fit-cover" loading="lazy" />
          </div>
        </a>
      </div>
      <div class="col-8 col-md-10 d-flex flex-column">
        <!-- Series name -->
        {{- if .SeriesID }}
        <p class="text-truncate mb-1">
          <a href="/novel/series/{{ .SeriesID }}" class="fw-bold small text-body-secondary text-decoration-none">{{ .SeriesTitle }}</a>
        </p>
        {{- end }}

        <!-- Novel title -->
        <h4 class="text-truncate">
          <a href="/novel/{{ .ID }}" class="text-body text-decoration-none">{{ .Title }}</a>
        </h4>

        <!-- Word count and reading time -->
        <p class="card-text text-muted small mb-3"><span>{{ .WordCount }} word(s)</span>&nbsp;<span>{{ floor: .ReadingTime / 60 }} mins</span></p>

        <!-- Author info -->
        <a href="/users/{{ .UserID }}" class="text-decoration-none d-flex align-items-center mb-3">
          <img src="{{ .UserAvatar }}" alt="{{ .UserName }}" class="rounded-circle me-2" style="width: 24px; height: 24px" />
          <span class="text-muted">{{ .UserName }}</span>
        </a>

        {*
        <!-- Description -->
        <!-- TODO: figure this out -->
        <!-- <p class="text-truncate mb-1">
          {{ raw: .Description }}
        </p> -->
        *}

        <!-- Tags -->
        <div class="d-flex flex-wrap align-items-center mb-2">
          {{- if .AiType == 2 }}
          <span class="badge bg-warning text-dark me-2 mb-2">AI-generated</span>
          {{- end }}
          {{- range .Tags }}
            {* NOTE: early block to catch the R-18 tag *}
            {{- if isEmphasize(.) }}
            <span class="badge bg-danger me-2 mb-2">{{ . }}</span>
            {{- end }}
          {{- end }}
          {{- if .IsOriginal }}
          <span class="badge bg-primary me-2 mb-2">Original</span>
          {{- end }}
          {{- if .Genre != "0" }}
          <span class="badge bg-secondary me-2 mb-2">{{ novelGenre: .Genre }}</span>
          {{- end }}
          {{- range .Tags }}
            {{- if isEmphasize(.) }}
            {* Intentionally empty to not render anything to avoid duplication *}
            {{- else }}
            <span class="badge fw-normal text-muted me-2 mb-2 p-0 text-wrap text-break text-start">
              <a href="/tags/{{ escapeString(.) }}" class="text-decoration-none text-wrap text-break">#{{ . }}</a>
            </span>
            {{- end }}
          {{- end }}
        </div>

        <!-- Metadata (bookmarks and creation date) -->
        <div class="d-flex justify-content-between align-items-center pt-2 mt-auto">
          <span class="text-muted small"> <i class="bi bi-heart-fill me-1"></i>{{ .Bookmarks }} </span>
          <span class="text-muted small"> <i class="bi bi-calendar me-1"></i>{{ parseTime: .CreateDate }} </span>
        </div>
      </div>
    </div>
  </div>
</div>
