{{- target := CookieList["pixivfe-ThumbnailToNewTab"] }}
{{- hideR18 := CookieList["pixivfe-HideArtR18"] }}
{{- hideR18G := CookieList["pixivfe-HideArtR18G"] }}
{{- hideAi := CookieList["pixivfe-HideArtAI"] }}
<div class="position-relative h-100">
  <div class="position-absolute top-0 start-0 p-2 d-flex justify-content-between w-100">
    {{- if isset(.Rank) }}
    <span class="badge bg-primary rounded-pill">{{ .Rank }}</span>
    {{- end }}
    {{- if .XRestrict != 0 }}
    <span class="badge bg-danger">{{ if .XRestrict == 1 }}R-18{{ else }}R-18G{{ end }}</span>
    {{- end }}
    {{- if .Pages > 1 }}
    <span class="badge bg-secondary">&boxbox; {{ .Pages }}</span>
    {{- end }}
    {{- if .IllustType == 2 }}
    <span class="badge bg-info">&#9654;</span>
    {{- end }}
  </div>
  {{- AiType := isset(.AiType) ? .AiType : 0}}
  <a target="{{ target }}" href="/artworks/{{ .ID }}#checkpoint" class="d-block h-100">
    {{- if (.XRestrict > 0 && hideR18 != "" && hideR18G != "") || (.XRestrict == 2 && hideR18G != "") }}
    <img src="/img/nsfw.png" alt="{{ .Title }}" class="img-fluid h-100 object-fit-cover" loading="lazy" />
    {{- else if AiType == 2 && hideAi }}
    <img src="/img/ai.png" alt="{{ .Title }}" class="img-fluid h-100 object-fit-cover" loading="lazy" />
    {{- else }}
    <img src="{{ .Thumbnail }}" alt="{{ .Title }}" class="img-fluid h-100 object-fit-cover" loading="lazy" />
    {{- end }}
  </a>
</div>
